<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>
</head>
<body>
    <div><%= post.title %></div> <br>
    <div>닉네임: <%= post.User.nick %> [<%= post.User.address %>]</div> <br>
    <div><%= post.body %></div> <br>
    <div>희망 가격: <%= post.price %>원</div> <br>
    <div>희망 기간: <%= post.start_date %> ~ <%= post.end_date %></div> <br>
    <div><%= post.createdAt %></div> <br>
    <form action="/post/comment" method="POST">
        댓글 <input type="text" name="comment">
        <button type="submit">작성하기</button>
    </form>
    <button><a href="/post">뒤로 가기</a></button>
</body>
</html>